// COLORS
$color-primary: #6202ee;

$color-dark-1: #30363d;
$color-grey: #6a6a6a;
$color-grey-dark: #242c35;
$color-grey-2: #fcfcfe;
$color-grey-1: #fcfcfe;
$color-grey-2: #545454;
$color-grey-3: #acafb1;
$color-white: #ffffff;
$color-white-2: #f7f7f7;
