@use "../abstracts/variables" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-grey-dark;
  padding: 0 2rem;
  height: 6rem;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
  &__logo {
    width: 20rem;
    height: 3.2rem;
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__profile {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        transition: all 0.5s ease;
      }

      &__pic {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
      }

      &__name {
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-grey-3;
        cursor: pointer;

        &-open {
          transform: rotate(180deg);
        }
        &-close {
          transform: rotate(0deg);
        }
      }
    }
  }
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  width: 40rem;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 1.7rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.search-input {
  all: unset;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 600;
  color: $color-grey;
}

.search-icon {
  position: relative;
  top: 0.1rem;
  left: 1rem;
}

.search-action-icon {
  position: relative;
  top: 0.2rem;
}

.clasterization {
  font-size: 1.2rem;
  font-weight: 600;
  color: $color-grey;
}

.switch {
  position: relative;
  width: 5.7rem;
  height: 3rem;
}

.switch-input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid rgba(172, 175, 177, 1);
  border-radius: 2.5rem;
  transition: background-color 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  left: 0.6rem;
  top: 0.5rem;
  background-color: $color-grey;
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .slider {
  background-color: $color-white;
}

input:checked + .slider:before {
  transform: translateX(2.5rem);
}
