#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

html {
  background-color: #30363d;
  color: white;
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.6944444444vw;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.app .main {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #30363d;
  width: 36rem;
  padding: 2rem;
  gap: 5rem;
  z-index: 1;
  top: 0;
}
.settings__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__top h2 {
  font-family: Fira Sans;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  vertical-align: middle;
  color: #ffffff;
}
.settings__top span {
  cursor: pointer;
}
.settings__bottom {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.settings__bottom img {
  width: 60%;
}
.settings__bottom p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #fcfcfe;
  text-align: center;
}
.settings__bottom button {
  margin-top: 5rem;
  width: 100%;
}
.settings__bottom a {
  all: unset;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  vertical-align: middle;
  color: #ffffff;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242c35;
  padding: 0 2rem;
  height: 6rem;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.header__logo {
  width: 20rem;
  height: 3.2rem;
}
.header__search {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__login {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__login__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__login__profile__pic {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.header__login__profile__name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #acafb1;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  width: 40rem;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 1.7rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.search-input {
  all: unset;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 600;
  color: #6a6a6a;
}

.search-icon {
  position: relative;
  top: 0.1rem;
  left: 1rem;
}

.search-action-icon {
  position: relative;
  top: 0.2rem;
}

.clasterization {
  font-size: 1.2rem;
  font-weight: 600;
  color: #6a6a6a;
}

.switch {
  position: relative;
  width: 5.7rem;
  height: 3rem;
}

.switch-input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid rgb(172, 175, 177);
  border-radius: 2.5rem;
  transition: background-color 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  left: 0.6rem;
  top: 0.5rem;
  background-color: #6a6a6a;
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:checked + .slider:before {
  transform: translateX(2.5rem);
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #6202ee;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 1.5s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-text {
  font-size: 1.8rem;
  color: #ffffff;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: #6202ee !important;
  color: #ffffff !important;
  border-bottom: none !important;
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-zoom {
  border: none !important;
  display: flex;
  flex-direction: column;
}

.leaflet-custom-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 1.5rem 2rem 3rem 0;
  width: 3rem;
  background-color: #6202ee;
  border-radius: 2px;
}

.custom-marker-icon {
  width: 36px;
  height: 52px;
  background: linear-gradient(180deg, #acf254 0%, #20944e 100%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.onboarding {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.onboarding__card {
  border-radius: 0.5rem;
  width: 45%;
  height: 60%;
  background-color: #30363d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.onboarding__card > span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.onboarding__card-top {
  display: flex;
  width: 87%;
  justify-content: space-between;
}
.onboarding__card-top > div {
  display: flex;
  flex-direction: column;
}
.onboarding__card-top > div p {
  margin: 0;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #545454;
}
.onboarding__card-top > span {
  cursor: pointer;
}
.onboarding__card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 62%;
}
.onboarding__card-bottom h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #f7f7f7;
}
.onboarding__card-bottom > p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fcfcfe;
}
.onboarding__card-bottom button {
  width: 65%;
  margin-top: 3rem;
}

.main-btn {
  all: unset;
  background-color: #6202ee;
  border-radius: 0.2rem;
  cursor: pointer;
}
.main-btn p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

/*# sourceMappingURL=App.css.map */
